input[type=text].invalid,
input[type=password].invalid,
input[type=checkbox].invalid,
input[type=color].invalid,
input[type=date].invalid,
input[type=datetime].invalid,
input[type=datetime-local].invalid,
input[type=email].invalid,
input[type=month].invalid,
input[type=number].invalid,
input[type=radio].invalid,
input[type=tel].invalid,
input[type=time].invalid,
input[type=url].invalid,
input[type=week].invalid,
input[type=search].invalid,
select.invalid,
textarea.invalid,
input[type=text].invalid:focus,
input[type=password].invalid:focus,
input[type=checkbox].invalid:focus,
input[type=color].invalid:focus,
input[type=date].invalid:focus,
input[type=datetime].invalid:focus,
input[type=datetime-local].invalid:focus,
input[type=email].invalid:focus,
input[type=month].invalid:focus,
input[type=number].invalid:focus,
input[type=radio].invalid:focus,
input[type=tel].invalid:focus,
input[type=time].invalid:focus,
input[type=url].invalid:focus,
input[type=week].invalid:focus,
input[type=search].invalid:focus,
select.invalid:focus,
textarea.invalid:focus {
    border-color: #d86f5a;
    -webkit-box-shadow: 0 0 2px rgba(190,30,30,.8);
    box-shadow: 0 0 2px rgba(190,30,30,.8);
}