input[type=text].invalid,
input[type=password].invalid,
input[type=checkbox].invalid,
input[type=color].invalid,
input[type=date].invalid,
input[type=datetime].invalid,
input[type=datetime-local].invalid,
input[type=email].invalid,
input[type=month].invalid,
input[type=number].invalid,
input[type=radio].invalid,
input[type=tel].invalid,
input[type=time].invalid,
input[type=url].invalid,
input[type=week].invalid,
input[type=search].invalid,
select.invalid,
textarea.invalid,
input[type=text].invalid:focus,
input[type=password].invalid:focus,
input[type=checkbox].invalid:focus,
input[type=color].invalid:focus,
input[type=date].invalid:focus,
input[type=datetime].invalid:focus,
input[type=datetime-local].invalid:focus,
input[type=email].invalid:focus,
input[type=month].invalid:focus,
input[type=number].invalid:focus,
input[type=radio].invalid:focus,
input[type=tel].invalid:focus,
input[type=time].invalid:focus,
input[type=url].invalid:focus,
input[type=week].invalid:focus,
input[type=search].invalid:focus,
select.invalid:focus,
textarea.invalid:focus {
    border-color: #d86f5a;
    -webkit-box-shadow: 0 0 2px rgba(190,30,30,.8);
    box-shadow: 0 0 2px rgba(190,30,30,.8);
}

.ospn-wrap {
    position: relative;
}

.glass {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}

.podcast-box {
    box-sizing: border-box;
    width: 140px;
    padding: 20px;
    border: 1px solid black;
    vertical-align: top;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
    position: relative;
}

.podcast-box .click-zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 10;
}

.podcast-box:first-child {
    margin-left: 0;
}

.podcast-logo img {
    width: 100px;
    height: 100px;
}

.podcast-name {
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.podcast-tagline {

}

article.podcast {
    margin-bottom: 20px;
}

article.podcast aside {
    float: right;
    margin-left: 20px;
}

article.podcast aside img {
    width: 250px;
    height: 250px;
}

article.hosts {
    margin-bottom: 20px;
}

article.hosts aside {
    float: right;
    margin-left: 20px;
}
